<div class="main-panel" >
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <a class="navbar-brand" href="javascript:void(0)" class="pull-left mr-4">Jobs</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content" style="margin-top: 25px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
            <app-adx></app-adx>
          </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-accural></app-accural>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-campaign></app-campaign>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-reservation></app-reservation>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-screenshot></app-screenshot>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-customer></app-customer>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <app-adunit></app-adunit>
        </div>
      </div>

    </div>
  </div>
</div>
