<div class="card card-chart" *ngFor="let component of components">
        <div class="card-header" [className]="component.cardClass">
            <canvas style="width: 100%; height: 100%;" id="lineChartAdUnit"></canvas>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-6  align-items-center">
                <a routerLink = "{{component.name | lowercase}}/{{component.routeDetail}}"><p>{{component.jobname}}</p></a>
            </div>
            <div class="col-6 align-items-center">
                <div *ngIf="isHealthy; then checkedTrue else checkedFalse"></div>
                <ng-template #checkedTrue>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" title="Ready" class="pull-right icon-background-success" >check_circle</mat-icon>
                </ng-template>
                <ng-template #checkedFalse>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" title="Not Ready" class="pull-right icon-background-danger">cancel</mat-icon>
                </ng-template>
            </div>
        </div>
        <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 align-items-center">
                        <a routerLink = "{{component.name | lowercase}}/{{component.routeTrigger}}"><i class="material-icons" style="font-size:15px">history</i> Trigger</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 align-items-center">
                        <a routerLink = "{{component.name | lowercase}}/{{component.routeDetail}}"><i class="material-icons" style="font-size:15px">timer</i> Schedules</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 align-items-center">
                        <a routerLink = "{{component.routeHistory}}/{{component.serviceCallName}}"><i class="material-icons" style="font-size:15px">history</i> History</a>
                </div>
            </div>
        </div>
        <div class="card-footer" *ngFor ="let i of LastHistoriesInfo">
        <div class="stats">
            <i class="material-icons" >access_time</i> {{i.lastRun}}
        </div>
        </div>
    </div>
        